.bg-1 {
    background-color: #FF8800;
}
.bg-2 {
    background-color: #666688;
}
.bg-3 {
    background-color: #66CC66;
}
.btn-1 {
    background-color: #FF8800;
    color: white!important;
}
.btn-1:hover {
    background-color: #FF9900;
}
.btn-2 {
    color: white!important;
}
.btn-2:hover {
    background-color: #8888AA;
}
.btn-3 {
    background-color: #00ad00;
    color: white!important;
}
.btn-3:hover {
    background-color: #11EE00;
}
.btn-outline-1 {
    background-color: transparent;
    color: #FF8800;
    font-weight: bold;
    border: 1px solid #FF8800;
}
.btn-outline-1:hover {
    background-color: #FF8800;
    color: white;
    border: 1px solid #FF8800;
}
.btn-outline-2 {
    background-color: transparent;
    color: #666688;
    font-weight: bold;
    border: 1px solid #666688;
}
.btn-outline-2:hover {
    background-color: #666688;
    color: white;
    border: 1px solid #666688;
}
.btn-outline-3 {
    background-color: transparent;
    color: #66CC66;
    font-weight: bold;
    border: 1px solid #66CC66;
}
.btn-outline-3:hover {
    background-color: #66CC66;
    color: white;
    border: 1px solid #66CC66;
}
.underlined-1 {
    text-decoration: underline solid 5px #FF8800;
}
.underlined-2 {
    text-decoration: underline solid 5px #666688;
}
.underlined-3 {
    text-decoration: underline solid 5px #66CC66;
}